@import "vars";

@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";

@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/buttons";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/utilities";

// body {
//     font-family: Helvetica,Arial,sans-serif;
//     font-size: 26px;
//     overflow-y: scroll;
//     overflow-x: auto;
//     cursor: default;
//     margin: 0;
//     padding: 0;
// }

// body {
// font-family: Philosopher,Arial;
// font-weight: 700!important;
// font-style: normal!important;
// font-size: 40px!important;
// line-height: 140%!important;
// letter-spacing: 0px!important;
// }

.w-40 {
    width: 40%;
}

img.card-img-top {
    border-radius: 25px;
}

.carousel-fade .carousel-item {
    opacity: .2;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: .5;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: .2;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}